@import './config.scss';

header{
    background: lighten($header-background-color, 10);
    color: $default-text-color;
    overflow:hidden;

    .logo{
        float:left;
        margin-left:10px;
        padding:20px 20px;
        background: $header-background-color ;
        color: tab-hover-func($header-background-color);
        outline:none;
        height:100%;
        border:none;
        font: {
            size:1em;
            family:inherit;
        }
        
        
        &:hover{
            box-shadow:5px 1px 2px #222222;
            background : lighten($header-background-color, 10)
        }
    }

    .header-tabs{
        float:right;
        margin-right:5px;

        a{
            display:inline-block;
            text-decoration:none;
            padding:20px;
            background: $header-background-color;
            color: tab-hover-func($header-background-color);
            margin: 0 5px;
            &:hover{
                box-shadow:5px 1px 2px #222222;
                background : lighten($header-background-color, 10);
                color: tab-hover-func($header-background-color);
            }
        }
    }
}